$grid_background: #848484;
$grid_foreground: #2E64FE;
$box_color: #75b7ff;
$clicked_color: #4EA2E7;
$possible_color: #FFEE40;

$aircraft_color: #FFFFFF;
$battlecruiser_color: #B18904;
$destroyer_color: #298A08;
$submarine_color: #61210B;
$torpedo_color: #8A0829;
