@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700);
@import "mixins";

$grid_background: #848484;
$grid_foreground: #2E64FE;
$box_color: #4B719B;
$clicked_color: #4EA2E7;
$possible_color: #FFEE40;

$aircraft_color: #FFFFFF;
$battlecruiser_color: #B18904;
$destroyer_color: #298A08;
$submarine_color: #61210B;
$torpedo_color: #8A0829;

*{
	@include box-sizing(border);
}

body {
    outline:0;
    margin: 10px 0;
    background-color: $grid_background;
}

.zone-title {
    text-align: center; padding: 24px 34px 12px;

    @include orb(64px, initial, bolder);
}
.container {
    text-align: center; padding-top: 36px;
    background-color: $grid_background;
	  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
	.row { width: auto; }
	.wrap_grid1, .wrap_grid2 {
		float: left; 	margin: 0 75px;
		.character {
	        @include orb(28px, initial, lighter);
	        padding: 20px 0;
	    }
	}
	.clearfix { clear: both; }
    .display {
        padding: 12px; margin: 24px 0;
        @include orb(28px, initial, lighter);
    }
    .box {
		position: relative;
		display: inline-flex;
		width: 20px;  height: 11.55px;
		background-color: $box_color;
		margin: 5.77px 3px; cursor: pointer;
		@include transition(all .4s ease-in);

    &.aircraft-carrier {
      background-color: $aircraft_color!important;
      &:before { border-bottom: 5.77px solid $aircraft_color; }
      &:after { border-top: 5.77px solid $aircraft_color; }
    }

    &.battlecruiser {
      background-color: $battlecruiser_color!important;
      &:before { border-bottom: 5.77px solid $battlecruiser_color; }
      &:after { border-top: 5.77px solid $battlecruiser_color; }
    }

    &.destroyer {
      background-color: $destroyer_color!important;
      &:before { border-bottom: 5.77px solid $destroyer_color; }
      &:after { border-top: 5.77px solid $destroyer_color; }
    }

    &.submarine {
      background-color: $submarine_color!important;
      &:before { border-bottom: 5.77px solid $submarine_color; }
      &:after { border-top: 5.77px solid $submarine_color; }
    }

    &.torpedo {
      background-color: $torpedo_color!important;
      &:before { border-bottom: 5.77px solid $torpedo_color; }
      &:after { border-top: 5.77px solid $torpedo_color; }
    }

		&.clicked {
			background-color: $clicked_color!important;
			&:before { border-bottom: 5.77px solid $clicked_color; }
			&:after { border-top: 5.77px solid $clicked_color; }
		}

    &.possible {
      background-color: $possible_color!important;
      &:before { border-bottom: 5.77px solid $possible_color; }
      &:after { border-top: 5.77px solid $possible_color; }
    }

    &.default {
      background-color: $box_color!important;
      &:before { border-bottom: 5.77px solid $box_color; }
      &:after { border-top: 5.77px solid $box_color; }
    }

		&:before, &:after {
			content: ""; width: 0;
			position: absolute;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
		&:before {
			bottom: 100%;
  			border-bottom: 5.77px solid $box_color;
		}
		&:after {
			top: 100%; width: 0;
			border-top: 5.77px solid $box_color;
		}
    }
    .grid {
        height: 350px;
    }
    .grid1, .grid2 {
		visibility: hidden;
        padding: 25px 0;
		@include transition(all .3, ease);
    }
    .line {
		width: 100%;
		padding: 2px 0;
	}
}

.flexslider {
	.boats {
		width: 220px;
		.boat {
			width: 210px;
			height: 150px;
			text-align: center;
		}
	}
}

#add {
	display: block;
	text-align: center;
}

footer {
    text-align: center; padding: 32px 0 21px;
    @include orb(21px, uppercase, 400);
}
