@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700);
@import "mixins";

$grid_background: #848484;
$grid_foreground: #2E64FE;
$box_color: #64C7CC;
$clicked_color: violet;

*{
	@include box-sizing(border);
}

body {
    outline:0;
    margin: 10px 0;
    background-color: $grid_background;
    animation-name: bg;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.zone-title {
    text-align: center; padding: 24px 34px 12px;

    @include orb(64px, initial, bolder);
}
.container {
    text-align: center; padding-top: 36px;
    background-color: $grid_background;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
	flex-direction: row;
    justify-content: center;
	.row { width: auto; }
	.wrap_grid1, .wrap_grid2 {
		float: left; 	margin: 0 75px;
		.character {
	        @include orb(28px, initial, lighter);
	        padding: 20px 0;
	    }
	}
	.clearfix { clear: both; }
    .display {
        padding: 12px; margin: 24px 0;
        @include orb(28px, initial, lighter);
    }
    .box {
		position: relative;
		display: inline-flex;
		width: 20px;  height: 11.55px;
		background-color: $box_color;
		margin: 5.77px 3px; cursor: pointer;

		&.clicked {
			background-color: $clicked_color!important;
			&:before { border-bottom: 5.77px solid $clicked_color; }
			&:after { border-top: 5.77px solid $clicked_color; }
		}

		&:before, &:after {
			content: ""; width: 0;
			position: absolute;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
		&:before {
			bottom: 100%;
  			border-bottom: 5.77px solid $box_color;
		}
		&:after {
			top: 100%; width: 0;
			border-top: 5.77px solid $box_color;
		}
    }
    .grid {
        height: 350px;
    }
    .grid1, .grid2 {
        padding: 25px 0;
    }
    .line {
		width: 100%;
		padding: 2px 0;
	}
}

#boatSelector {
	position: absolute; left: 50px; bottom: 0;
	& > div {
		width: 100px; height: 100px;
		line-height: 100px; text-align: center;
		background-color: #1C95D4;
	}
}

.slick-slide { width: 100px; }

.slick-current.slick-active {
	background-color: yellow;
}

.slick--next {
	content: '→';
	display: block;
}

footer {
    text-align: center; padding: 32px 0 21px;
    @include orb(21px, uppercase, 400);
}

//keyframes
@include keyframes(bg) {
    25%  {background-color: red;}
    50%  {background-color: yellow;}
    100% {background-color: green;}
}
